/* src/app/home.component.scss */
h2 {
    font-size: 1.75em;
}

.content-container {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .chart-header h2, .users-list-header h2 {
    margin: 0;
  }
  
  
  .divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 20px 0;
  }
  
  .users-list-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 20px 0; 
  }
  
  .new-user-btn {
    margin: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #0056b3;
    }
  }
    
  .table-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
  }
  
  .form-container {
    padding: 0; /* Elimina el padding para alinear el formulario con el borde de la tabla */
    margin-bottom: 20px; /* Añade margen para separar el formulario de la tabla */
  }
    .user-form input, .user-form button {
    display: block;
    width: calc(100% - 20px); // Ajuste para igualar la longitud con el botón
    padding: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .user-form button {
    background-color: #17a2b8; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #138496; 
    }
  
    &:disabled {
      background-color: #ccc;
      cursor: default;
    }
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    th, td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
  
    th {
      background-color: #17a2b8; 
      color: white;
    }
  
    tr:hover {
      background-color: #f1f1f1;
    }
          
    button {
      margin-right: 10px;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
      border: none;
  
      &.edit {
        background-color: #28a745; 
        color: white;
      }
  
      &.delete {
        background-color: #dc3545; 
        color: white;
      }
  
      &:hover {
        opacity: 0.8;
      }
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  .user-table th:nth-child(5) {
    text-align: center;
  }
  