<!-- src/app/home.component.html -->
<div class="content-container">
  <div class="users-list-header">
    <h2>User List</h2>
    <button (click)="toggleFormVisibility()" class="new-user-btn">New User</button>
  </div>
  <div class="divider"></div>

  <div class="table-container">
    <!-- Formulario, inicialmente oculto y colocado aquí para aparecer antes de la tabla -->
    <div *ngIf="isFormVisible" class="form-container">
      <form [formGroup]="userForm" (ngSubmit)="createUser()" class="user-form">
      <input type="text" formControlName="name" placeholder="Name" required>
      <input type="text" formControlName="surname" placeholder="Surname">
      <input type="email" formControlName="email" placeholder="Email" required>
      <input type="password" formControlName="password" placeholder="Password" required>
      <button type="submit" [disabled]="!userForm.valid">Create User</button>
    </form>
  </div>

  <table class="user-table">
  <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.id_user }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button (click)="editUser(user)" class="edit">Edit</button>
        <button *ngIf="user.id_user !== undefined" (click)="deleteUser(user.id_user)" class="delete">Delete</button>
      </td>
    </tr>
  </table>
</div>
