/* src/app/mapa.component.scss */
h2 {
    font-size: 1.75em;
}
.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
  height: 60px;
}

.chart-container {
  max-width: 100%; 
  margin: auto; 
  height: 400px;
  position: relative; 
}

.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 20px;
}

#map {
  height: 400px;
  margin: auto;
  width: calc(100% - 40px); /* Ajusta el ancho considerando el padding */
}

/* Estilos responsivos para el mapa */
@media (max-width: 768px) {
  .map-container {
    padding: 10px;
  }

  #map {
    width: calc(100% - 20px); /* Ajusta para pantallas más pequeñas */
  }
}
