<!-- edit-user.component.html - Asegúrate de envolver tu formulario dentro de un contenedor de modal -->
<div id="editUserModal" class="modal">
  <div class="modal-content">
    <h2>Edit User</h2>
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="name" placeholder="Name">
      <input type="text" formControlName="surname" placeholder="Surname">
      <input type="email" formControlName="email" placeholder="Email">
      <!-- Añade campos adicionales según sea necesario -->
      <div class="modal-buttons">
        <button type="button" (click)="onCancel()" class="cancel-btn">Cancel</button>
        <button type="submit" class="save-btn">Save Changes</button>
      </div>
    </form>
  </div>
</div>
